body {
    background: white;
}

.pokecard-info{
    display:none;
}

.poke-dex{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(auto-fit);
}

/* .poke-card{
    display: grid;
} */

.modal-container {
    display:none;
    background-color: rgba(0,0,0,0.5);
    align-items:center;
    justify-content:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px 50px;
    width: 500px;
    max-width: 100%;
    text-align:center;
}

.modal p {
    margin: 0;
    font-size: 1.2rem;
    
}

.modal button {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
    display: inline;
    float: right;
}

.modal button:hover {
    background-color: #000;
    color: #fff;
}

.modal img{
    margin-left: 25px;
}