body {
    background: white;
}

.pokecard-info{
    display:none;
}

.poke-dex{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(auto-fit);
}

/* .poke-card{

} */